@forward 'globals'

:root
    --WHITE: hsl(0, 0%, 100%)
    --LIGHTER-GREY: hsl(252, 6%, 83%)
    --LIGHT-GREY: hsl(245, 15%, 58%)
    --LIGHT-GREY-ACCENT: hsla(246, 15%, 58%, 0.200)
    --UPLOAD-BG: hsla(246, 15%, 58%, 0.300)
    --GREY: hsl(245, 19%, 35%)
    --DARK-GREY: hsl(248, 70%, 10%)
    --ORANGE: hsl(7, 88%, 67%)
    --LIGHT-ORANGE: hsl(7, 71%, 60%)
    --GRADIENT: hsl(7, 86%, 67%) to hsl(0, 0%, 100%)

.attribution
    font-size: 1.5rem
    font-weight: bold
    margin-bottom: 2rem
    gap: 0.5rem
    color: var(--LIGHTER-GREY)
    text-align: center

.attribution a
    text-decoration: none
    transition: 1s ease-in-out
    color: var(--ORANGE)

.attribution a:hover,
.attribution a:active
    color: var(--LIGHT-ORANGE)

body
    min-height: 100vh
    background: transparent
    color: var(--LIGHT-GREY)
    background-image: url("../../assets/images/pattern-lines.svg"), url("../../assets/images/pattern-squiggly-line-top.svg"),url("../../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"), url("../../assets/images/background-mobile.png")
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat
    background-position: top center,100% 5%, bottom left, center center
    background-size: cover, 12rem, 25rem, cover
    display: grid
    padding: 0 2rem
    place-content: center

header
    display: flex
    place-content: center
    margin-bottom: 3.5rem

form
    display: flex
    flex-direction: column
    align-items: center

h1
    font-size: 3rem
    color: var(--WHITE)
    line-height: 1.1
    max-width: 45rem
    text-align: center
    margin-bottom: 1rem

p
    text-align: center
    line-height: 1.3
    font-size: 2rem
    margin-bottom: 3.5rem

fieldset
    border: none
    margin-bottom: 2rem
    width: 100%
    max-width: 40rem
    legend
        color: var(--WHITE)
        font-size: 2rem
        font-weight: bold
        margin-bottom: 1rem

fieldset:has(div) div
    display: flex
    flex-direction: column
    align-items: center
    padding: 2rem
    background-color: var(--LIGHT-GREY-ACCENT)
    backdrop-filter: blur(1rem)
    gap: 2rem
    border: 2px dashed var(--LIGHT-GREY)
    border-radius: 1rem
    margin-bottom: 1rem
    transition: 1s ease-in-out
    position: relative
    // &::before
    //     content: ''
    //     inset: 0
    //     border: 2px solid var(--LIGHT-GREY)
    //     position: absolute
    //     border-radius: 1.5rem
    //     top: 0
    //     left: 0
    //     transform: scaleX(1.03) scaleY(1.1)
    //     z-index: 999

    &:hover
        cursor: pointer
        filter: brightness(120%)

.info
    font-size: 1.4rem
    text-align: left
    margin-bottom: 0
    img
        margin-right: 0.5rem
        align-self: center
        transform: translateY(0.3rem)

.input, button
    border: 2px solid var(--LIGHT-GREY)
    height: 5rem
    width: 100%
    border-radius: 1rem
    background-color: var(--LIGHT-GREY-ACCENT)
    backdrop-filter: blur(1rem)
    padding-left: 1rem
    &:focus,&:active
        border: 6px double var(--LIGHT-GREY)

.input
    color: var(--WHITE)
    font-size: 1.8rem
    transition: 1s ease-in-out
    &:hover
        cursor: pointer
        filter: brightness(140%)
    &::placeholder
        color: var(--LIGHTER-GREY)
        font-size: 1.6rem

#fName
    text-transform: capitalize

button
    background-color: var(--ORANGE)
    padding: 0
    border: none
    font-weight: bold
    font-size: 2rem
    max-width: 40rem
    color: var(--DARK-GREY)
    cursor: pointer
    transition: 1s ease-in-out
    &:hover
        cursor: pointer
        filter: brightness(120%)
        border: 2px solid var(--LIGHT-GREY)

main
    margin-bottom: 4rem

.text
    display: flex
    align-items: center
    flex-direction: column

.card
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    .ticket-container
        width: 100%
        max-width: 40rem
        position: relative
    .ticket-card
        width: 100%

.card__title
    display: flex
    position: absolute
    top: 2rem
    left: 2rem
    gap: 1rem
    img
        height: max-content
        width: 3rem
    .text
        flex-direction: column
        align-items: start
        display: flex
        gap: 1rem
        h2
            color: var(--WHITE)
        p
            margin-bottom: 0
            font-size: 1.6rem

.profile
    display: flex
    align-items: start
    width: max-content
    position: absolute
    left: 2rem
    bottom: 2rem
    gap: 1rem
    img
        width: 4.5rem
        border-radius: 0.5rem
    div
        h3
            color: var(--WHITE)
            margin-bottom: 0.5rem
        img
            width: 2rem
            margin-right: 0.5rem

.code
    position: absolute
    transform: translateY(-50%) rotate(90deg)
    right: 0
    top: 50%
    font-size: 2.2rem

.username
    display: flex
    align-items: center

.upload
    padding: 1rem
    border-radius: 1rem
    background-color: var(--UPLOAD-BG)
    cursor: pointer

.hidden
    display: none

.display
    display: block

.no-padding
    padding: 0

.preview
    width: 6rem
    height: 6rem
    border-radius: 0.5rem

.error
    color: var(--ORANGE)
    transform: translateY(0.2rem)

.error-state
    border: 2px solid var(--LIGHT-ORANGE)
    &:focus
        border: 2px solid var(--LIGHT-ORANGE)
@media (min-width: 600px)
    body
        background-image: url(../../assets/images/pattern-lines.svg), url(../../assets/images/pattern-squiggly-line-top.svg), url(../../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg),url(../../assets/images/background-tablet.png)

    .card__title .text h2
        font-size: 2.6rem

@media (min-width: 1440px)
    body
        background-image: url(../../assets/images/pattern-lines.svg), url(../../assets/images/pattern-squiggly-line-top.svg), url(../../assets/images/pattern-squiggly-line-bottom-desktop.svg),url(../../assets/images/background-desktop.png)
        background-size: cover, 20%, 50%, cover
